body {
    background-image: url('../assets/images/scenario/casa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    color: white;

}

#gamebar {
    background-color: white;
    background-color: goldenrod;
    border: 5px solid darkgoldenrod;
    width: calc(100% - 10px);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
    font-weight: bold;
    font-size: large;
    z-index: 2;
}

@media screen and (min-height: 100vh) {
    
    #personagens {
        bottom: -60px !important;
    }
}

@media screen and (max-height: 500px) {
    #gamebar {
        bottom: -60px;
    }

    #problema-texto {
        font-size: 1.5rem !important;
    }

    #feedback {
        font-size: 1rem !important;
    }

    .desmarcada {
        display: none !important;
    }

    #personagem_destaque {
        width: 15vw !important;
    }

    #personagens {
        bottom: -60px !important;
    }
}

.alternativa {
    width: 50vw;
    margin-bottom: 16px;
}

#problema-texto {
    font-size: 2rem;
}

#feedback {
    font-size: 1.2rem;
}

.box>* {
    margin-bottom: 16px;
}

#personagens {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

#personagens>* {
    height: 60vh;
    overflow: hidden;

}

.marcada {
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%) !important;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64) !important;
}

.desmarcada {
    background: linear-gradient(90deg, rgb(160, 160, 160) 0%, rgb(110, 110, 110) 100%);
    border-radius: 1000px;
    box-shadow: 4px 4px 8px rgb(110, 110, 110);
    cursor: default;
}


#personagem_destaque {
    animation: fadeInCharacter ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    position: absolute;
    bottom: 0;
    margin-left: 36px;
    transition: opacity 0.5s;
    z-index: 1;
}

@keyframes fadeInCharacter {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 1024px) {
    #personagem_destaque {
        width: 15vw;
    }
}