body {
    background-image: url('../assets/images/scenario/casa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    color: white;

}

.box {
    height: 60vh;
}
/* #logo {
    position: absolute;
    margin: 0 35vw;
    top: 0;
    left: 36%;
    margin-top: -5%;
    align-self: center;
} */