body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.blur-background {
    backdrop-filter: blur(15px);
}

.box {
    animation: fadeInBox ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: goldenrod;
    border: 5px solid darkgoldenrod;
    border-radius: 16px;
    width: 70vw;
    min-height: 85vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 1rem 5rem;
    box-sizing: border-box;
}

.box h2 {
    font-weight: bold;
}

.box #logo {
    width: 45vw;
    min-width: 300px;
    max-width: 450px;
}

@media screen and (max-width: 768px) {
    .box {
        width: 90vw;
        margin: 5vh auto;
        padding: 1rem 2rem;
    }

    .box h2 {
        font-size: 1.2rem;
    }

}

@keyframes fadeInBox {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.btn {
    background: linear-gradient(90deg, rgb(97, 102, 101) 0%, rgb(61, 63, 63) 100%);
    border-radius: 1000px;
    box-shadow: 4px 4px 8px rgb(61, 63, 63);
    transition: all 0.1s ease-in-out 0s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-2px);
}

#btn-start, #btn-next-round {
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
}

#btn-start:hover , #btn-next-round:hover {
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transform: translateY(2px);
}